    <nav class="navbar navbar-light bg-light d-flex">
      <div class="container">
        <div class="logo">
          <a class="navbar-brand" href="#">CTS </a>
        </div>
        <div class="m-auto">
          <form class="form-inline search-form">
            <input class="form-control mr-sm-2" type="search" placeholder="@search" aria-label="Search">
          </form>
        </div>
        <div class="user-section">
          <% if user_signed_in? %>
                <a href="<%= user_path(current_user)%>" data-method="delete">
                    <i class="fa fa-user"></i>
                </a>
            <% else %>
                <a href="<%= new_user_session_path%>">
                      <i class="fa fa-sign-in"></i>
                </a>
            <% end %>
        </div>
      </div>
    </nav>