    <div class="navbar navbar-default sticky-top ">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">CTS</a>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "Link1", "layouts/shared/path1"  %></li>
            <li><%= link_to "LogIn", "login"  %></li>
            <li><%= link_to "SignUp", "layouts/shared/signup"  %></li>
          </ul>
        </div>
      </div>
    </div>